@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --preto-transp-forte: RGBA(1, 1, 1, 1);
    --preto-transp-fraco: RGBA(1, 1, 1, 0.8);
    --transp: RGBA(0, 0, 0, 0);
}

* {
    padding: 0%;
    margin: 0%;
    border: 0px;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    position: relative;
}

picture {
    background-size: cover;
    position: sticky;
}
/*
#lariPic {
    background-image: url("p1_lfranco.jpeg");
    left: 0%;
}

#lethPic {
    background-image: url("p2_lpaixao.jpg");
    right: 0%;
}
*/
#lariSide, #lethSide {
    display: inline-block;
    padding: 0%;
    margin: 0%;
    width: 50vw;
    height: 100vh;
    border-radius: 0px;
    color: antiquewhite;
    position: sticky;
    
}

#lariSide {
    background-image: linear-gradient(to left, var(--preto-transp-forte), var(--preto-transp-fraco), var(--transp));
}

#lethSide {
    border-left: 1px solid white;
    background-image: linear-gradient(to right, var(--preto-transp-forte), var(--preto-transp-fraco), var(--transp));
}

section {
    text-align: justify;
    position: absolute;
    justify-content: center;
}

h1 {
    font-size: 38px;
    padding: 10px;
}

p {
    line-height: 1.4em;
    padding: 20px;
}

#button {
    display: flex;
    justify-content: center;
}

button, a {
    border: 50px;
    padding: 5px;
    border-radius: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #0B2162;
    color: aliceblue;
    font-style: normal;
    text-decoration: none;
}

button:hover {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}